<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./practice-components.css">
	<script src="./practice-components.js" defer></script>
	<title>Practice Components</title>
</head>
<body>
	<div class="container">
		<div class="pie-chart" style="--slider-position: 0%">
			<div class="overlay"></div>
		</div>
		<input type="range" name="" min="0" max="100" value="0" id="slider">	
	</div>
</body>
</html>