* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 18px;
	height: 100vh;
	display: grid;
	/* align-items: start; */
	grid-template-areas: 
		'h h h'
		'n m a'
		'n f f'
	;

	grid-template-columns: 1.5fr 4fr 1.5fr;
	grid-template-rows: 150px 1fr 150px;
}

header, footer, main, aside, nav {
	background-color: steelblue;
	color: #fff;
	padding: 20px;
	border: 1px solid skyblue;
}

header {
	grid-area: h;
}

nav {
	grid-area: n;
}

main {
	grid-area: m;
}

aside {
	grid-area: a;
}

footer {
	grid-area: f;
}


ul {}

li {}